*.iml
.gradle
/local.properties
/.idea
/gradle
.DS_Store
/build
/captures
/External Libraries
src/build/
src/src/main/res
src/src/main/java/gov/nasa/farmars/android
androidTest
libs
test
*.xml
*.pro
build.gradle
gradle.properties
gradlew
gradlew.bat
settings.gradle